/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@100&family=Poppins:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* @font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(~fonts/Quicksand-VariableFont_wght.ttf) format("truetype");
} */

body {
  font-family: "Quicksand";
}

.leaves-1 {
  background-position: -177px -287px;
  transform: scale(0.5) rotate(240deg);
  position: absolute;
  right: 200px;
  top: 157.8px;
  z-index: 3;
}

.wa-whatsapp {
  position: fixed !important;
  right: 35px;
  bottom: 50px;
  height: 60px;
  width: 60px;
  background: #2bb741;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
}

.wa-whatsapp {
  animation: 0.50s up-down-shake infinite alternate;
  display: inline-block;
}

@keyframes up-down-shake {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(-5px);
  }
}

.leaves-2 {
  background-position: -180px -10px;
  transform: scale(0.5) rotate(40deg);
  position: absolute;
  left: 320px;
  top: 473.4px;
}

.leaves-3 {
  background-position: -306px -287px;
  transform: scale(0.25) rotate(120deg);
  position: absolute;
  left: 160px;
  top: 315.6px;
  opacity: 0.8;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* @media screen and (min-width: 998px) {
  html {
    zoom: 80%;
  }
} */
